:root {
  --color-scheme: light;
  --foreground: hsl(0, 0%, 7%);
  --background: hsl(0, 0%, 96%);
}

[data-theme='dark'] {
  --color-scheme: dark;
  --foreground: hsl(0, 0%, 96%);
  --background: hsl(0, 0%, 7%);
}

html {
  color-scheme: var(--color-scheme);
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

h1 {
  font-family: "Segoe UI Variable Display Black", system-ui;
  margin: 0;
}

p {
  max-width: 600px;
}

select, a, p {
  font-family: "Segoe UI Variable Small Regular", system-ui;
}

select {
  cursor: pointer;
  font: inherit;
  background-color: var(--background);
}

option {
  background-color: var(--background);
  color: var(--foreground);
}

a {
  color: var(--foreground);
  text-decoration: none;
}

a:hover {
  opacity: 0.6;
}

#options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: calc(15px + 0.75vw);
}